div ol {
    background-color: yellow;
}

body ol li:nth-child(even) {
    background-color: green;
}

body ol li:nth-child(odd) {
    text-transform: uppercase;
}

h1, h2, h3 {
    color: red;
}

h1 {
    font-size: 40px;
    border: 1px black solid;
}

li{
    font-size: 20px;
}

/* li:nth-child(odd) {
    font-style: italic;
} */