        body{
            background-color: black;
            font-size: 16px;
            line-height: 3em;
            text-align: center;
            text-decoration: darkmagenta;
        }
        p{
            font-weight: 600;
            font-size: 3em;
        }
        h1{
           font-size: 65px; color: orange;
           font-family: sans-serif;
        }
        #color-style{
            background-color: green;
        }            
        .color-style{
            background-color: yellow;
        }
        #yellow{
            background-color: yellow;
        }
        #red{
            background-color: red;
        }
        #brown{
            background-color: brown;
        }